# Node / Playwright
node_modules/
playwright/test-results/
playwright/playwright-report/
playwright/blob-report/
playwright/coverage/
playwright/.env

# Java / Karate
target/
*.log
.classpath
.project
.settings/

# Tooling
karate.jar
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
